* {
  font-family: 'MedievalSharp', cursive;
  user-select: none;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.app-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: url("./background/background.jpeg") no-repeat;
  background-size: cover;
}


